##.gitignore
*.classpath
*.project
.settings/
*.RemoteSystemsTempFiles/
*.o
.*.swp
.*.class
.*.settings/
.*.classpath
.*.project
[Bb]in
[Dd]ebug*/
[Rr]elease*/
.metadata*/
##programming/competition/.metadata/
